services:
  postgres:
    image: postgres:17
    container_name: bun-api-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: bun_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
    volumes:
      - bun-api-postgres-data:/var/lib/postgresql/data
    networks:
      - database-network

  redis:
    image: redis:latest
    container_name: bun-api-redis
    volumes:
      - bun-api-redis-data:/data
    restart: always
    networks:
      - database-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: bun-api-frontend
    env_file:
      - .env.docker
    depends_on:
      -  backend
    ports:
      - '5173:5173'
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: bun-api-backend
    env_file:
      - .env.docker
    depends_on:
      - postgres
      - redis
    networks:
      - database-network
      - app-network

volumes:
  bun-api-postgres-data:
  bun-api-redis-data:

networks:
  app-network:
    driver: bridge
  database-network:
    driver: bridge
